/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
/* h1, h2, h3, h4, h5, h6, p, blockquote, pre, */
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Real styles */

body {
  --couleur-texte: #FFF;
  --couleur-accent: #00ff80 /* hsl(150deg,100%,50%) */;
  --couleur-fond: #060613 /* hsl(240deg,50%, 5%) */;
  --couleur-texte-sur-accent: #000;
  --couleur-accent-transparent: rgba(0, 255, 128, .3) /* hsla(150deg,100%,50%,.3) */;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/subset-Inter-MediumItalic.woff2') format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/subset-Inter-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/subset-Inter-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('fonts/subset-Inter-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
  max-width: 60ch;
  background-color: #000;
  background-color: var(--couleur-fond);
  color: #fff;
  color: var(--couleur-texte);
  margin: 20vh auto;
  padding:0 1em;
  font:20px/1.5 Inter,-apple-system,BlinkMacSystemFont,"avenir next",avenir,"Segoe UI","lucida grande","helvetica neue",helvetica,"Fira Sans",roboto,noto,"Droid Sans",cantarell,oxygen,ubuntu,"franklin gothic medium","century gothic","Liberation Sans",sans-serif;
  font-weight: 500;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
  position: relative;
}

h1 { font-size: 4em; line-height: 1.05; margin-bottom: .1em; }
h2 { font-size: 2.4em; line-height: 1.15; }
h3 { font-size: 1.66em; line-height: 1.3; }
h4 { font-size: 1.33em; }
h5 { font-size: 1.1em; }

.internal-link {
  font-size: .9rem;
  display: inline-block;
  vertical-align: middle;
  font-weight: 500;
  width: 1rem;
  line-height: 1rem;
  text-align: center;
  box-sizing: border-box;
  margin-left: .4rem;
  position: absolute;
  left: -3rem;
  top: 1rem;
  box-shadow: inset 0 0 #00ff80;
  box-shadow: inset 0 0 var(--couleur-accent);
  opacity: .66;
}
.internal-link:hover {
  opacity: 1;
}


summary .internal-link {
  left: calc(-1 * (3rem + 33px));
}

small {
  font-size: .8em;
  line-height: 1.6;
  display: inline-block;
}

small.small-title {
  font-weight: 500;
  font-size: .6em;
}

sub {
  font-size: .8em;
  vertical-align: sub;
}

::selection {
  background-color: var(--couleur-accent);
  color: var(--couleur-texte-sur-accent);
}

header {
  margin-left: -1em;
  padding-left: 1.5em;
  border-left: .5em solid var(--couleur-accent);
  margin-bottom: 10vh;
}

#toc ul {
  font-size: 1.5em;
  font-weight: bold;
}

a {
  color: var(--couleur-texte);
  text-decoration: none;
  box-shadow: inset 0 -0.1em var(--couleur-accent);
  transition:  all .3s ease;
  padding: 0 .1em;
}

a:hover, :target a.internal-link {
  color: var(--couleur-texte-sur-accent);
  box-shadow: inset 0 -1.3em var(--couleur-accent);
}

blockquote {
  font-style: italic;
  border-left: #777 3px solid;
  margin-left: .2em;
  padding-left: 1em;
}

ul, ol {
  margin-left: 0;
}

strong {
  font-weight: 800;
}

details {
  margin-bottom: 1em;
}

details[open] {
  margin-bottom: 2em;
}

summary {
  cursor: pointer;
  transition: color .2s ease;
}

summary:hover, ::-webkit-details-marker {
  color: var(--couleur-texte);
}

summary > * {
  display: inline;
  box-shadow: inset 0 -0.6em var(--couleur-accent-transparent);
  transition:  all .3s ease;
  padding: 0 .1em;
}
summary:hover > * {
  box-shadow: inset 0 -1.4em var(--couleur-accent-transparent);
}

details[open] > summary + * {
  border-left: 1px solid;
  padding: 0 0 0 1.8em;
  margin-left: .3em;
}


li + li {
  margin-top: .3em;
}

section {
  margin-top: 18vh;
}

:not(h3):not(h4) + h2,
:not(h2):not(h3):not(h4) + h3,
:not(h2):not(h3):not(h4) + h4 {
  margin-top: 2em;
}

li > blockquote {
  margin-left: 1em;
}

.sous-titre {
  margin: 0;
  font-size: 1.8em;
  line-height: 1.2;
}

.intro {
  font-size: 1.2em;
  line-height: 1.4;
}

hr {
  margin: 3em 0;
  height: 1em;
  border-style: hidden;
  color: var(--couleur-fond);
  background-color: var(--couleur-fond);
}

footer {
  text-align: center;
}

footer img {
  width: 24px;
  height: 24px;
}

@media (max-width: 800px) {
  body {
    font-size: 16px;
  }

  h1 { font-size: 3em; line-height: 1.05; margin-bottom: 0; }
  h2 { font-size: 1.66em; }
  h3 { font-size: 1.33em; }
  h4 { font-size: 1.1em; }
  h5 { font-size: 1em; font-weight: 500; }
}
